<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-lg-4 col-sm-7 content-logo-left">
        <a><img src="../../../assets/images/logo-YTS.svg" alt="YTS"></a>
        <span class="header-slogan mx-3 hidden-md">HD movies at the smallest file size.</span>
      </div>
      <div class="col-lg-8 text-end">
        <div class="contetn-form  m-0">
          <form id="navbar-search" class="d-block">
            <div class="input-group border-input-search">
              <div class="input-group-prepend">
                <span class="input-group-text icon-search-movie">
                <img src="../../../assets/images/icon-search.svg" />
                </span>
              </div>
              <input class="form-control" placeholder="Quick search" type="text">
            </div>
        </form>
        </div>
      <div class="d-inline-block">
          <ul class="navbar-menu ms-0 ps-2">
              <li>
                  <a><b>Home</b></a>
              </li>
              <li>
                  <a class="item-menu-4k">4K</a>
              </li>
              <li>
                  <a>Treading</a>
              </li>
              <li>
                  <a>Browse Movies</a>
              </li>
              <li>
                <a ><span>Login</span> | <span>Register</span></a>
              </li>
          </ul>
          <ul class="navbar-menu-mobile text-center pt-3">
            <li>
              <a>
                <i class="fa fa-search fa-lg"></i>
              </a>
            </li>
            <li>
                <a class="item-menu-4k"><b>4K</b></a>
            </li>
            <li>
              <a><i class="fa fa-bar-chart-o fa-lg"></i></a>
            </li>
            <li>
              <a><i class="fa fa-reorder fa-lg"></i></a>
            </li>
            <li>
              <a><i class="fa fa-user fa-lg"></i></a>
            </li>
        </ul>
      </div>
      </div>
  </div>
</nav>
