<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-brand">
          <a><img src="../../../assets/images/logo-YTS.svg" alt="YTS"></a>
          <span class="header-slogan">HD movies at the smallest file size.</span>
      </div>

        <div class="navbar-right">
            <form id="navbar-search" class="navbar-form search-form">
              <div class="input-group border-input-search">
                <div class="input-group-prepend">
                  <span class="input-group-text icon-search-movie">
                  <img src="../../../assets/images/icon-search.svg" />
                  </span>
                </div>
                <input class="form-control" placeholder="Quick search" type="text">
              </div>
          </form>
          <div id="navbar-menu">
              <ul>
                  <li>
                    <a><i class="fa fa-search"></i></a>
                      <a>Home</a>
                  </li>
                  <li>
                      <a>4K</a>
                  </li>
                  <li>
                    <a><i class="fa fa-bar-chart-o"></i></a>
                      <a >Treading</a>
                  </li>
                  <li>
                    <a><i class="fa fa-reorder"></i></a>
                      <a>Browse Movies</a>
                  </li>
                  <li>
                    <a><i class="fa fa-user"></i></a>
                    <a><span>Login</span> | <span>Register</span></a>
                  </li>
              </ul>
          </div>
          </div>
  </div>
</nav>
