<div class="container-fluid content-popular-dowloads">
  <div class="container">
    <h1 class="title-component-dowloads">Download YTS YIFY movies: HD smallest size</h1>
    <p>Welcome to the official YTS.MX (.LT) website. Here you can browse and download YIFY movies in <br> excellent 720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents. </p>
    <b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b>
    <div class="mt-5 row clearfix">
      <div class="col-lg-6 text-end">
        <b><i class="fa fa-star fa-lg star-color-green"></i>&nbsp;Popular Downloads</b>
      </div>
      <div class="col-lg-6">
        <b><img src="../../assets/images/rss-icon.png"/> more...</b>
      </div>
    </div>
    <hr>
  </div>
</div>
