.navbar>.container-fluid {
  flex-wrap: nowrap;
  margin-left: 1%;
  margin-right: 1%;
}

.navbar-top {
  width: 100%;
  background: #1d1d1d;
  color: #919191;
  z-index: 99;
  border-bottom: 0.1pt solid #919191;
}

.content-logo-right .header-slogan{
  letter-spacing: -.03em;
  font-family: 'Arimo-Regular';
  font-size: 0.9em;
  margin-left: 10%;
  margin-top: 7px;
}

.contetn-form{
  display: inline-block;
}

#navbar-search {
  margin-top: 5px;
  width: 200px;
  height: 35px;
}

.border-input-search {
  border-radius: 50px;
  padding: 5px;
  background-color: #1d1d1d;
  border: solid #919191 0.2px;
}

.border-input-search .input-group-prepend span {
  background-color: #1d1d1d;
  border: none;
}

.border-input-search .input-group-prepend img {
  width: 20px;
}

#navbar-search .form-control {
  background: #1d1d1d;
  color: white;
  border-radius: 50px;
  border: none;
}

.navbar-menu li{
  display: inline;
  font-family: 'Arimo-Bold', sans-serif;
  font-weight: bold;
  padding: 0px 6px 0px 6px;
}

.navbar-menu li.active>a {
  color: white;
  text-decoration: none !important;
  pointer-events:none;
}

.navbar-menu li:first-of-type{
  padding: 0px 8px 0px 0px;
}

.navbar-menu li:last-of-type{
  color: white;
}


.navbar-menu-mobile li{
  display: inline;
  padding: 0px 8px 0px 8px;
}

@media only screen and (min-width: 991px) {
  .navbar-menu-mobile {display: none}
}

@media only screen and (max-width: 767px) {
  .header-slogan {display: none}
}

@media only screen and (max-width: 991px) {
  .navbar-menu {display: none}
  .contetn-form {display: none}
}

.navbar-menu-mobile li a i{
  color: white;
}

.item-menu-4k{
  color: #6AC045;
  text-decoration: none !important;
  font-size: 22px;
  pointer-events:none; /*remove hover efect*/
}

