@import url(header.css);
@import url(footer.css);

@font-face {
  font-family: 'Arimo';
  src: url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('svg'); /* Legacy iOS */
}

body{
  font-family: 'Arimo', Arial, Helvetica,"Lucida Grande", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .hidden-xs {
      display: none
  }
}


@media only screen and (max-width: 991px) {
  .hidden-sm {display: none}
  .show-sm {display: inline-block}

}


@media (min-width: 992px) and (max-width: 1450px){
  .hidden-md {display: none !important}
}

@media (min-width: 992px){
  .image-movie:hover{opacity: 0.2;}
  .browse-movie-link:hover{border: 5px solid #6AC045; }
  .image-movie:hover + .info-movie{
    display: inline-block;
    position: absolute;
    color: white;
    transform: translateX(0px) translateY(40px);
    transition: border .5s ease-in-out;
    -moz-transition: border .5s ease-in-out;
    -webkit-transition: border .5s ease-in-out;
    font-family: 'Arimo-Bold',sans-serif;
    margin: 1px -43px 50% -210px;
    width: 210px;
  }
}

@media (min-width: 320px) and (max-width: 991px){
  .image-movie {
    width: 150px;
  }
}


.content-popular-dowloads {
  background-image: url(../../assets/images/background.jpg) ,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.content-popular-dowloads{
  color: white;
}

.title-component-dowloads{
  font-size: 2.75em;
  font-weight: 500;
  color: white;
  font-family: 'Arimo-Bold',sans-serif;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 50px;
}

.text-welcome-yts{
  font-family: 'Arimo',Arial,Helvetica,"Lucida Grande",sans-serif;
  letter-spacing: -.03em;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #c3bdbd;
}

.warning-domain{
  text-decoration: none !important;
  color: #428bca;
  text-decoration: none;
}

.warning-domain:hover{
  color: #215a8d;
}

.more-rss-feed{
  text-decoration: none !important;
  color: #428bca;
  text-decoration: none;
}

.more-rss-feed:hover{
  color: #215a8d;
}

.star-color-green{
  color: #6AC045;;
}

.browse-movie-link {
  display: inline-block;
  max-width: 220px;
  max-height: 325px;
  border: 5px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.info-movie{
  display: none;
}

.info-movie h4{
  font-family: 'Arimo-Regular',sans-serif;
  letter-spacing: -.03em;
  font-size: 28px;
}

.button-green-download2-big{
  background: #6ac045;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: block;
  font-weight: bold;
  color: #fff;
  width: 130px;
  font-family: 'Arimo-Regular',sans-serif;
  font-size: 16px;
  padding: 7px 0;
  margin: 0 auto;
}

.browse-movie-title{
  text-decoration: none !important;
  color: white;
  font-weight: bold;
  pointer-events:none; /*remove hover efect*/
}

.browse-movie-year{
  text-decoration: none !important;
  color: #919191;
  font-weight: bold;
  pointer-events:none; /*remove hover efect*/
}

.warning-vpn {
  background-color: black;
  border: 5px solid #75c74e;
  padding: 0 35px 5px 35px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  }

.warning-vpn .button {
  background-color: #75c74e;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5px;
  }

  .warning-vpn .button p{
    color: white;
    text-decoration: none;
  }

.text-blue{
  color: #428bca;
}

.content-dark-black {
  background: #000;
}

.content-dark-grey {
  background: #171717;
}

.home-content .home-movies h2 {
  font-size: 1.15em;
  font-weight: 700;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 25px;
  text-align: left;
  color: white;
}

.home-content .home-movies .find-more {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #919191;
  text-decoration: none;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  }
