@import url(header.css);

@font-face {
  font-family: 'Arimo';
  src: url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/arimo/Arimo-Regular.ttf') format('svg'); /* Legacy iOS */
}

body{
  font-family: 'Arimo', Arial, Helvetica,"Lucida Grande", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .hidden-sm {display: none}
}


@media (min-width: 992px) and (max-width: 1450px){
  .hidden-md {display: none !important}
}

.content-popular-dowloads {
  background-image: url(../../assets/images/background.jpg) ,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.content-popular-dowloads{
  color: white;
}

.title-component-dowloads{
  font-size: 2.75em;
  font-weight: 500;
  color: white;
  font-family: 'Arimo-Bold',sans-serif;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 50px;

}

.star-color-green{
  color: #6AC045;;
}
