<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-20">
        <ul class="text-center footer-menu">
          <li class="text-white">YTS © 2011 - 2021</li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/blog">Blog</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/dmca">DMCA</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/api">API</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/rss-guide">RSS</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/contact">Contact</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/browse-movies">Browse Movies</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/requests">Requests</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yts.mx/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-20">
        <ul class="text-center footer-menu">
          <li><a href="https://eztv.re" title="EZTV">EZTV</a></li>
          <li class="text-white">-</li>
          <li><a href="https://yifystatus.com" title="YTS YIFY Status">YIFY Status</a></li>
          <li class="text-white">-</li>
          <li><a href="https://ytsproxies.com" title="YTS Proxies">YTS Proxies</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-20">
        <ul class="text-center">
          <li style="font-size: .80em" class="text-white">By using this site you agree to and accept our <a
              href="/terms" class="agreement-text">User
              Agreement</a>, which can be read <a href="/terms" class="agreement-text">here</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
