<div class="content-popular-dowloads">
  <div class="container">
    <h1 class="title-component-dowloads hidden-sm">Download YTS YIFY movies: HD smallest size</h1>
    <p class="hidden-sm text-welcome-yts">Welcome to the official YTS.MX (.LT) website. Here you can browse and download
      YIFY movies in <br> excellent 720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies
      Torrents. </p>
    <a class="hidden-sm warning-domain" href="https://yts.mx/blog/yts-mx-is-the-only-new-official-domain-for-yify-movies"
      title="YTS.MX is the only new official domain for YIFY Movies">
      <b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b>
    </a>
    <div class="pt-4 row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 text-lg-end text-md-start">
        <b class="mt-1"><i class="fa fa-star fa-lg star-color-green"></i>&nbsp;Popular Downloads</b>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-lg-end">
        <a class="more-rss-feed" href="https://yts.mx/browse-movies/0/all/all/0/featured/0/all"><img src="../../assets/images/rss-icon.png" /><b>more...</b></a>
      </div>
    </div>
    <hr>
  </div>
</div>
